body {
	background-color: rgb(244, 248, 249);
	font-family: Helvetica;
}

.tweet-box {
  background-color: rgb(255, 255, 255);
  border: 1.5px solid rgb(225, 232, 237);
	border-radius: 8px;
	max-width: 800px;
	margin: 20px auto;
}

#profile-pic {
	height: 65px;
	float: left
}

.user-info {
	position: relative;
	top: -35px;
	left: 20px;
}

.user-account {
	color: #000;
	font-size: 27px;
	font-weight: bold;
	margin: 35px 0 0 0;
}

.username {
	color: rgb(104, 109, 129);
	font-size: 22px;
	font-weight: 500;
	margin: 0;
	position: relative;
	left: 60px;
}

#follow {
	float: right;
	border: 2px solid rgb(85, 172, 238);
	color: rgb(85, 172, 238);
	font-size: 1.75em;
	font-weight: bold;
	background-color: inherit;
	border-radius: 10px;
	padding: 10px 20px;
	position: relative;
	bottom: 105px;
	right: 35px;
}

#twitter-logo {
	height: 25px;
	position: relative;
	top: 2.5px;
	right: 1px;
}

.top-text {
	padding-left: 30px;
	padding-top: 30px;

}

.text-body {
	padding-left: 30px;
	position: relative;
	top: -25px;
}

.bottom-icons {
	height: 18px;
}

#time-date {
	font-size: 18px;
	color: rgb(101, 116, 127);
}

#reply {
	position: relative;
	left: -10px;
}

.icon-list li{
	display: inline-block;
	list-style-type: none;
	padding-right: 15px;
	padding-left: 0;
	margin: 0;
	color: rgb(105, 120, 130);
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 5px;
}

